<!DOCTYPE html>
{% extends 'insapp/base.html' %}{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block b1 %}
    <img
      style="margin-top: 7%; margin-left: 3%"
      src="{% static 'images/girl.webp' %}"
      alt="my image"
      height="380"
      width="310"
    />
    <h4 style="margin-left: 28%; margin-top: -33%">
      High Rated Top Training Centre in Bangalore
    </h4>
    <p style="margin-left: 28%; text-align: left; padding-right: 7%">
      Setting a benchmark in the industry, Learners Friend Technologies Private
      Limited is the most innovative Training and Recruitment Company
      strategically located in Bangalore, delivering classroom and online
      trainings across India, UK and USA.
    </p>
    <br />
    <h5 style="margin-left: 28%; margin-top: -1.5%">What We Focus On</h5>
    <ul style="margin-left: 26%">
      <li>Achieving ample exposure</li>
      <li>Revolutionising the standard of learning and development</li>
      <li>Addressing on-the-job challenges</li>
      <li>Providing tailored training solutions</li>
      <li>eLearning concept</li>
      <li>Integration of classroom face-to-face learning experiences</li>
    </ul>
    <p style="text-align: left; margin-left: 28%; padding-right: 7%">
      Learners Friend stands for professionalism and quality of service, leading
      the way with INNOVATIVE concepts and constantly striving for EXCELLENCE
      across all industry sectors. With a holistic approach built around meeting
      the long-term needs of both employers and staff, we provide the foundation
      for successful career. While we ensure that the candidates fit into the
      right position we make sure that the industry gets a constant inflow of
      quality staff.
    </p>
    <p sty>
      Welcome to our website, where we offer job-oriented courses that can help
      you jumpstart your career in the ever-evolving technology industry. Our
      courses are designed to equip you with the necessary skills and knowledge
      to land your dream job in fields such as Cloud Computing, DevOps, Cyber
      Security, Full Stack Development, Data Science, Digital Marketing, and Web
      Development. <br />
      Our team of excellent trainers comprises experienced working professionals
      who possess real-time experience in their respective domains. With their
      expertise, they will provide you with the best guidance and support to
      ensure that you learn the latest technologies and tools that are in demand
      in the industry. Our company was established in 2013, almost a decade ago,
      and we have trained more than 10,000 students in various technologies. We
      are proud to have been awarded as the best educational institute by
      Suvarna News News Channel. This recognition serves as a testament to our
      commitment to providing high-quality training to our students. <br />
      As authorised partners of VMware, IABAC, and Jainx, we offer
      industry-recognised certifications upon completion of our courses. In
      addition, we are ISO certified, which means that we adhere to the highest
      quality standards in our training and delivery. We understand the
      importance of finding a job after completing a course, and that's why we
      provide placement assistance to our students. We have a dedicated
      placement cell that works closely with top companies in the industry to
      ensure that our students get placed in the best companies with competitive
      salaries.<br />
      Enrolling in our courses is easy. Simply visit our website and browse
      through the courses that we offer. You can choose to attend our online
      classes or opt for our classroom sessions, depending on your preference.
      We offer flexible timings to accommodate your schedule, and our courses
      are affordably priced. We are confident that our courses will provide you
      with the skills and knowledge you need to succeed in your chosen field.
      Don't wait any longer, enrol in our courses today and take the first step
      towards a rewarding career.
    </p>
    {% endblock b1 %}
  </body>
</html>
