<!DOCTYPE html>
{% extends 'insapp/base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block b1 %}
    <p>NavIndian actor who predominantly works in Kannada films. His career began in Televisi

      Yash began his career with appearances in several television series in the 2000s. He made his film debut in 2007 with Jambada Hudugi. The 2008 romantic drama Moggina Manasu, for which he received the Filmfare Award for Best Supporting Actor, proved to be a breakthrough role for Yash. His first film in a leading role, Rocky (2008), was poorly received by critics and a box office flop. He followed it up with a series of romantic films that were commercial successes.
      
      Yash went on to establish himself as a leading actor of Kannada cinema with the college romance Googly (2013), comedy-drama Raja Huli (2013), fantasy action Gajakesari (2014), romantic comedy Mr. and Mrs. Ramachari (2014), action film Masterpiece (2015) and action romance Santhu Straight Forward (2016). Mr. and Mrs. Ramachari ranks among the highest-grossing Kannada releases</p>
    {% endblock b1 %}
  </body>
</html>
