<!DOCTYPE html>
{% extends 'insapp/base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block b1 %}
    <p>NavInd fantasy action Gajakesari (2014), romantic comedy Mr. and Mrs. Ramachari (2014), action film Masterpiece (2015) and action romance Santhu Straight Forward (2016). Mr. and Mrs. Ramachari ranks among the highest-grossing Kannada releases</p>
    {% endblock b1 %}
  </body>
</html>
