<!DOCTYPE html>
{% extends 'insapp/base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block b1 %}
    <h1>
      High Rated Top Training Centre in Bangalore</h1>
      <p>Setting a benchmark in the industry, Apponix Technologies Private Limited is the most innovative Training and Recruitment Company strategically located in Bangalore, delivering classroom and online trainings across India, UK and USA.</p>
      <br>
      <h2>What We Focus On</h2>
      <ul><li>
        Achieving ample exposure
      </li></ul>
    <p></p>
    {% endblock b1 %}
  </body>
</html>
