<!DOCTYPE html>
{% extends 'insapp/base.html' %}{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block b1 %}
    <img style="margin-top: 7%;"
        src="{% static 'images/girl.webp' %}"
        alt="my image"
        height="270"
        width="270"
    
      />
    <h3 style="margin-left: 25%;margin-top: -24%;">High Rated Top Training Centre in Bangalore</h3>
    <p >
      Setting a benchmark in the industry, Learners Friend Technologies Private
      Limited is the most innovative Training and Recruitment Company
      strategically located in Bangalore, delivering classroom and online
      trainings across India, UK and USA.
    </p>
    <br />
    <h3>What We Focus On</h2>
    <ul>
      <li>Achieving ample exposure</li>
      <li>Revolutionising the standard of learning and development</li>
      <li>Addressing on-the-job challenges</li>
      <li>Providing tailored training solutions</li>
      <li>eLearning concept</li>
      <li>Integration of classroom face-to-face learning experiences</li>
    </ul>
    <p>
      Learners Friend stands for professionalism and quality of service, leading
      the way with INNOVATIVE concepts and constantly striving for EXCELLENCE
      across all industry sectors. With a holistic approach built around meeting
      the long-term needs of both employers and staff, we provide the foundation
      for successful career. While we ensure that the candidates fit into the
      right position we make sure that the industry gets a constant inflow of
      quality staff.
    </p>
    {% endblock b1 %}
  </body>
</html>
