<!DOCTYPE html>
{% extends 'insapp/base.html' %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block b1 %}
    <table style="padding-bottom: 10; class="table">
      <thead class="table table-success">
        <tr>
          <th>course_no</th>
          <th>course_name</th>
          <th>course_timings</th>
          <th>course_duration</th>
          <th>course_startdate</th>
          <th>course_fee</th>
          <th>trainer_name</th>
        </tr>
      </thead>
      <tbody>
        {% for c in cd %}
        <tr>
          <td>{{c.course_no}}</td>
          <td>{{c.course_name}}</td>
          <td>{{c.course_timings}}</td>
          <td>{{c.course_duration}}</td>
          <td>{{c.course_startdate}}</td>
          <td>{{c.course_fee}}</td>
          <td>{{c.trainer_name}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endblock b1 %}
  </body>
</html>
